// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
	background: ghostwhite;
	padding: 25px;
}
.field {
	margin: 15px 0px;
}
.form-control {
	width: 30%;
}
#date_search {
	display: flex;
	.form-control {
		width: 85%;
	}
	.input-group-addon {
		padding: 8px 12px !important;
	}
}
tr.reminder_class {
	background: #e27373 !important;
}

.todo_form {
	.input-group {
		width: 30%;
	}
}
